* {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   color: #fff;

   font-family: 'Raleway', sans-serif;
   font-size: 14px;
   font-weight: 100;
}

.container {
   position: relative;

   overflow: hidden;
   width: 80%;
   max-width: 1400px;
   height: 100%;
   margin: 50px auto;

   background-image: url("udacity-banner 5.jpg");
   background-size: cover;
}

.container-2 {
   background-image: url("udacity-banner 3.jpg");
}

.blur-container {
   position: absolute;
   overflow: hidden;

   width: 100%;
   max-width: 400px;
   height: 100%;
   background-image: url("udacity-banner 5.jpg");
   background-size: cover;

   -webkit-filter: blur(7px);
   filter: blur(7px);
}

.blur-container-2 {
   background-image: url("udacity-banner 3.jpg");
}

.info-container {
   position: relative;

   width: 33%;
   max-width: 400px;
   height: 350px;

   text-align: center;

   background-color: rgba(0, 0, 0, 0.3);
}

.info-container-2 {
   background-color: rgba(0, 0, 0, 0.59);
}

.info-container img {
   padding: 20px;
}

h1 {
   font-weight: 100;
}

h1 span {
   font-weight: 600;
}

.info-container p {
   padding: 10px 40px;
}

.text {
   position: absolute;
   top: -8px;
   left: -38px;

   color: #ff0000;
}

.text-2 {
   color: #faff16;
}