* {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

html {
   color: #fff;

   font-family: 'Raleway', sans-serif;
   font-size: 14px;
   font-weight: 200;
}

.container {
   position: relative;

   overflow: hidden;

   width: 80%;
   max-width: 1400px;
   height: 350px;
   margin: 50px auto;

   background-image: url("udacity-banner 5.jpg");
   background-size: cover;
}

.container-2 {
   background-image: url("udacity-banner 3.jpg");
}

.blur-container {
   position: absolute;
   top: -8px;
   left: -8px;

   width: calc(350px + 16px);
   height: calc(350px + 16px);

   background-image: url("udacity-banner 5.jpg");
   background-position: -4px -4px;
   background-size: cover;

   -webkit-clip-path: inset(0 2% 0 0);
   clip-path: inset(0 2% 0 0);
   -webkit-filter: blur(7px);
   filter: blur(7px);
}

.blur-container-2 {
   background-image: url("udacity-banner 3.jpg");
}

.info-container {
   position: relative;

   width: 350px;
   height: 350px;

   text-align: center;

   background-color: rgba(0, 0, 0, 0.3);
}

.info-container-2 {
   background-color: rgba(0, 0, 0, 0.59);
}

.info-container img {
   width: 175px;
   height: auto;
   padding: 20px;
}

h1 {
   font-weight: 100;
}

h1 span {
   font-weight: 600;
}

.info-container p {
   padding: 10px 40px;
}

.text {
   position: absolute;
   top: -6px;
   left: -35px;

   color: #ff0000;
}

.text-2 {
   color: #faff16;
}

/* MEDIA QUERIES  */

@media screen and (max-width: 1200px) {
   .info-container img {
      width: 160px;
      height: auto;
   }

   html {
      font-size: 12px;
   }

   .blur-container {
      width: calc(300px + 16px);
      height: calc(320px + 16px);
   }

   .info-container {
      width: 300px;
      height: 320px;
   }

   .container {
      height: 320px;
   }
}

@media screen and (max-width: 640px) {
   .container {
      width: 600px;
   }
}

@media screen and (max-width: 639px) {
   .container {
      width: 300px;
   }
}